# Python / Jupyter
__pycache__/
.ipynb_checkpoints/


# # OS / IDE
Desktop.ini
.DS_Store
.vscode/
.idea/

# Virtual environment
venv/
.env

# Data
*.db
data/cleaned/
data/final/
data/sqlite/

#For reference
notebooks/for_reference/
project_scripts/for_ref/

# Uncomment if you want to track processed data
#data/combined.csv
data/cleaned.csv
# Ignore Python cache and system files
